body{
    width: 100%;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.load{
    height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: loader 3.7s both;
  visibility:hidden;
}

.load_arc{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid transparent;
  border-left: 7px solid #99e2d0;
  border-right: 7px solid #99e2d0;
  border-radius: 45%;
  width: 90px;
  height: 90px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  animation: rotate-center 1.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 2 both;
  visibility:hidden;
}
.load_center {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #99E2D0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
}
.logo img{
    height: 30px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.position {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    width: 100%;
    background: #f3f3f3b9;
}

.text-position{
    margin-left: 16px;
}


.explore-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.explore-container h2, .explore-container p{
    text-align: center;
    
}

.explore-container h2{
    max-width: 232px;
    margin: 0;
}

.explore-button{

    color: white;
    background: linear-gradient(-45deg, #9356DC , #FF79DA);
    padding: 0 18px;
    border-radius: 60px;
    transform: scale(1);
    transition: 150ms ease;
    
}
.explore-button:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 300ms ease;
}

section.fonction {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fonction-container {
    width: 95%;
}

.fonction-step{
    height: 65px;
    margin: 23px 20px;
    display: flex;
    align-items: center;
    background: #f3f3f3c0;
    border-radius: 20px;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
    transform: scale(1);
    transition: 150ms ease;
}

.fonction-step:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 300ms ease;
    background-color: #e4d2f4c0;;
}

.fonction-step:hover > .fonction-icon{
    color: #9356DC;
}
.fonction-numero{
    left: -13px;
    background-color: #9356DC;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
}

.fonction-icon {
    padding: 0 17px 0 40px;
}

section.restaurant {
    display: flex;
    flex-direction: column;
    background: #f3f3f3c0;
}

.restaurant-titre{
    margin: 0 0 0 18px;
}
.restaurant-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.restaurant-container a {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
    width: 98%;
}
.restaurant-bloc {
    display: flex;
    width: 80%;
    /* flex-direction: column; */
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
    border-radius: 20px;
    transform: scale(1);
    transition: 150ms ease;
}

.restaurant-bloc:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 300ms ease;
}

.restaurant-text{
    margin: 0 0 0 15px;
}

.restaurant-new {
    display: flex;
    position: absolute;
    top: 20px; 
    justify-content: center;
    align-items: center;
    right: 20px;
    background: #99e2d0;
    color: rgb(20, 132, 99);
    font-weight: bold;
}

.fa-solid i{
    display: none;
}


.restaurant-new p{
    margin: 8px 15px 8px 15px;
}

.restaurant-bottom {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70px;
    align-items: center;
}

.restaurant-nom{
    text-decoration: none;
    font-weight: bolder;
}

.restaurant-img {
    width: 100%;
    position: relative;
}

.restaurant-img img {
    width: 100%;
    height: 193px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

a{
    text-decoration: none;
}

.restaurant-text{
    color: black;
}

.restaurant-coeur {
    display: flex;
    margin: 0 30px;
    font-size: 30px;
    align-content: center;
    align-items: center;
}

.restaurant-coeur:hover .fa-regular.fa-heart {
    animation: opacity 0.5s both;
}

.restaurant-coeur:hover .fa-solid.fa-heart {
    animation: no-opacity 0.5s both;
}
i.fa-solid.fa-heart {
    position: absolute;
    opacity: 0;
    color: #dd78d9;
}
i.fa-regular.fa-heart{
    color: black;
}

footer{
    background: rgb(75, 71, 71);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-titre{
    font-family: Shrikhand, sans-serif;
    width: 80%;
    font-weight: normal;
}


.footer-list{
    width: 80%;
}
ul{
    list-style:none;
    padding: 0;
}


@media screen and (min-width: 800px){
.restaurant-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.fonction-steps{
    display: flex;
    justify-content: center;
}
.fonction-step{
    width: 33%;
}

.footer-list, .footer-titre{
    display: flex;
}
}

@keyframes loader {
    0% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
    
}

 @-webkit-keyframes rotate-center {
    0% {
        visibility: visible;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
              visibility: hidden;
    }
  }
  @keyframes rotate-center {
    0% {
        visibility: visible;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
              visibility: hidden;
    }
  }
  
  @keyframes no-opacity {
      0% {
          opacity: 0;
      }
      
      100% {
          opacity: 1;
      }
  }

  @keyframes opacity {
      0% {
          opacity: 1;
      }
      
      100% {
          opacity: 0;
      }
  }